* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

header {
  display: flex;
}

figure img {
  margin: 20px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  color: black;
  padding: 15px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

ul li a {
  transition: 0.3s;
}

ul li a:hover,
ul li a.active {
  background-color: lightblue;
}